<% if (typeof messages !== 'undefined') { %>
    <div>
        <% messages.forEach(function(message){ %>
            <b><%= message %></b><br>
        <% }); %>
    </div>
<% } %>
<% if (user.type >= 2 && user.verified) { %>
    <form action="/create_test" method="GET">
        <input type="submit" value="Создать тест"/>
    </form><br>
<% } %>
<% if (elements.length === 0) { %>
    <% if (search.set) { %>
        <b>Поиск не дал результатов.</b><br>
        <br>
        <form action="/tests" method="GET">
            <input type="submit" value="Сбросить фильтры"/>
        </form>
    <% } else { %>
        <b>Нет элементов.</b>
    <% } %>
    <hr>
<% } else { %>
    <b>Тесты:</b><br>
    <hr>
    <i>Поиск</i>
    <form action="/tests" method="GET" id="testsSearch">
        <input name="headline" placeholder="По заголовку"<% if (search.headline !== undefined) { %> value="<%= search.headline %>"<% } %>><br>
        <input name="subject" placeholder="По предмету"<% if (search.subject !== undefined) { %> value="<%= search.subject %>"<% } %>><br>
        <select name="topic">
            <option value="-1" selected>По теме...</option>
            <% topics.forEach((topic) => { %>
                <option value="<%= topic.id %>"<% if (search.topic !== undefined && search.topic === topic.id) { %> selected<% } %>><%= topic.title %></option>
            <% }); %>
        </select><br>
        <select name="semester">
            <option value="-1" selected>По уровню подготовки...</option>
            <option disabled="disabled">──────────</option>
            <% for (var i = 1; i <= 22; i++) { %>
                <option value="<%= i %>"<% if (search.semester !== undefined && search.semester === i) { %> selected<% } %>><%= Math.ceil(i / 2) %> класс, <%= 2 - (i % 2) %> семестр</option>
                <% if (i % 2 === 0) { %>
                    <option disabled="disabled">──────────</option>
                <% } %>
            <% } %>
            <option value="23">Высшее образование</option>
        </select><br>
        <select name="author">
            <option value="-1" selected>По преподавателю...</option>
            <% teachers.forEach((teacher) => { %>
                <option value="<%= teacher.id %>"<% if (search.author !== undefined && search.author === teacher.id) { %> selected<% } %>><%= teacher.name %></option>
            <% }); %>
        </select><br>
        <div>
            <input type="checkbox" id="selector1" name="completed" value="0"<% if (search.completed !== undefined && search.completed === 0) { %> checked<% } %>>
            <label for="selector1">Непройденные тесты</label>
        
            <input type="checkbox" id="selector2" name="completed" value="1"<% if (search.completed !== undefined && search.completed === 1) { %> checked<% } %>>
            <label for="selector2">Пройденные тесты</label>
        </div><br>
        <button type="submit">Найти</button><br>
    </form>
    <hr>
    <% if (search.set) { %>
        <i>На странице представлены результаты поиска.</i><br>
        <br>
        <form action="/tests" method="GET">
            <input type="submit" value="Сбросить фильтры"/>
        </form>
        <hr>
    <% } %>
    <% elements.forEach((element) => { %>
        <div>
            Заголовок: <%= element.headline %><br>
            Тема: <%= element.title %><br>
            Предмет: <%= element.subject %><br>
            Уровень подготовки: <% if (element.semester <= 22) { %><%= Math.ceil(element.semester / 2) %> класс, <%= 2 - (element.semester % 2) %> семестр<% } else { %>Высшее образвание<% } %><br>
            Автор теста: <a href="/profile/<%= element.author_id %>"><%= element.name %></a><br>
            Дата создания: <%= ("0" + element.created.getDate()).slice(-2) %>.<%= ("0" + (element.created.getMonth() + 1)).slice(-2) %>.<%= element.created.getFullYear() %> <%= ("0" + element.created.getHours()).slice(-2) %>:<%= ("0" + element.created.getMinutes()).slice(-2) %><br>
            <% if (user.type !== 0) { %>
                Статус: <% if (element.completed !== null) { %>Пройден<% } else { %>Не пройден<% } %><br>
            <% } %>
            <% if (element.completed) { %>
                Оценка: <%= element.mark %><br>
            <% } %>
            <% if (user.verified) { %>
                <form action="/test/<%= element.id %>" method="GET">
                    <input type="submit" value="Открыть"/>
                </form>
            <% } %>
            <% if ((user.type === 3 && user.verified) || element.author_id === user.id) { %>
                <form action="/delete_test/<%= element.id %>" method="POST">
                    <input type="submit" value="Удалить тест"/>
                </form>
            <% } %>
        </div>
        <hr>
    <% }); %>
<% } %>
<% if (pages_num > 0) { %>
    <i>Страница <%= page %> из <%= pages_num %></i><br>
    <% for (var i = 1; i <= pages_num; i++) { %>
        <a href="tests?page=<%= i %>"><% if (i === page) { %><b><%= i %></b><% } else { %><%= i %><% } %></a>   
    <% } %>
<% } %>
<br><br>
<form action="/" method="GET">
    <input type="submit" value="На Главную"/>
</form>

<script src="static/js/testsList.js"></script>