<% if (typeof messages !== 'undefined') { %>
    <div>
        <% messages.forEach(function(message){ %>
            <b><%= message %></b><br>
        <% }); %>
    </div>
<% } %>
<% if (teacher) { %>
    <form action="/create_test" method="GET">
        <input type="submit" value="Создать тест"/>
    </form><br>
<% } %>
<% if (elements.length === 0) { %>
    <b>Нет элементов.</b>
    <hr>
<% } else { %>
    <b>Тесты:</b><br>
    <hr>
    <% elements.forEach(function(element){ %>
        <div>
            Заголовок: <%= element.headline %><br>
            Тема: <%= element.title %><br>
            Предмет: <%= element.subject %><br>
            Уровень подготовки: <% if (element.semester <= 22) { %><%= Math.ceil(element.semester / 2) %> класс, <%= 2 - (element.semester % 2) %> семестр<% } else { %>Высшее образвание<% } %><br>
            Автор теста: <a href="/profile/<%= element.author_id %>"><%= element.name %></a><br>
            Дата создания: <%= ("0" + element.created.getDate()).slice(-2) %>.<%= ("0" + (element.created.getMonth() + 1)).slice(-2) %>.<%= element.created.getFullYear() %> <%= ("0" + element.created.getHours()).slice(-2) %>:<%= ("0" + element.created.getMinutes()).slice(-2) %><br>
            Статус: <% if (element.completed !== null) { %>Пройден<% } else { %>Не пройден<% } %><br>
            <form action="/test/<%= element.id %>" method="GET">
                <input type="submit" value="Открыть"/>
            </form>
            <% if (teacher) { %>
                <form action="/delete_test/<%= element.id %>" method="POST">
                    <input type="submit" value="Удалить тест"/>
                </form>
            <% } %>
        </div>
        <hr>
    <% }); %>
<% } %>
<% if (pages_num > 0) { %>
    <i>Страница <%= page %> из <%= pages_num %></i><br>
    <% for (var i = 1; i <= pages_num; i++) { %>
        <a href="tests?page=<%= i %>"><% if (i === page) { %><b><%= i %></b><% } else { %><%= i %><% } %></a>   
    <% } %>
<% } %>
<br><br>
<form action="/" method="GET">
    <input type="submit" value="На Главную"/>
</form>