!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/frontend/css/main_styles.css">
    <link rel="stylesheet" href="/static/frontend/css/font/font.css">
    <link rel="stylesheet" href="/static/frontend/css/statistic.css">
    <link rel="stylesheet" href="/static/frontend/css/rippleEffect.css">
    <link rel="stylesheet" href="/static/frontend/css/menu/menu.css">
    <link rel="stylesheet" href="/static/frontend/css/select-module.css">
</head>
<body>
    <div class="F21sW0EW">
        <div class="ud0AdBs">
            <%- include('partials/head') -%>
        </div>
        <div class="G1qVSlLk">
            <div class="aSEQzkJ jsxW" view-test>
                <div class="OePZjKkR">
                    Тест: <%= info.headline %> 
                </div> 
                <div class="xWDJRVpY">
                    <div class="Acl360RTd">
                        <div class="QprDheCS">
                            <div class="NfbybDsa">
                            
                                    <div class="sendback">
                                        <a href="/tests">
                                            <iron-icon aria-ripple>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="#000000a9" height="20" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>
                                            </iron-icon>                         
                                        </a>
                                        <h1 class="OePdZjKkR">Назад</h1>
                                    </div> 

                                    <div class="cqigUjz">
                                        <div class="theme_view daw">
                                            <span>Тема:</span>
                                            <div class="view_data">
                                                <%= info.topic.title %>
                                            </div>
                                        </div>
                                        <div class="subject_view daw">
                                            <span>Предмет:</span>
                                            <div class="view_data">
                                                <%= info.topic.subject %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="task_container">

                                        <% questions.forEach((question, index) => { %>
                                            <div class="task" id="question<%= index + 1 %>">
                                                <div class="task_label">
                                                    Вопрос №<%= index + 1 %>
                                                </div>
                                                <div class="mathEnabled" style="white-space: pre-wrap">
                                                    <%= question.body %>
                                                </div>
                                                <div class="answer_container">
                                                    <% if (!info.completed && user.verified && user.type === 1) { %>
                                                        <div class="result_side">
                                                            <span>Ваш ответ:</span>
                                                            <div class="result_input">
                                                                <input type="text" name="inputResult">
                                                            </div>
                                                        </div>
                                                    <% } else { %>
                                                        <% if (user.type !== 0) { %>
                                                            <label>Правильный ответ: <%= question.correct_answer %></label><br>
                                                        <% } %>
                                                        <% if (question.filled) { %>
                                                            <label>Ваш ответ: <%= question.answer %></label>  
                                                        <% } %>
                                                    <% } %>                                                    
                                                </div>

                                            </div>
                                        <% }); %>    
                                
                                    </div>

                                    <div class="sendTestResult">
                                        <button class="dAWDJJKQA2dikdas" button-tamplate ripple disable-select>Завершить тест</button>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <%- include('partials/tex'); %>
    <%- include('partials/menu') -%>
</body>
</html>
   