<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/frontend/css/main_styles.css">
    <link rel="stylesheet" href="/static/frontend/css/font/font.css">
    <link rel="stylesheet" href="/static/frontend/css/statistic.css">
    <link rel="stylesheet" href="/static/frontend/css/rippleEffect.css">
    <link rel="stylesheet" href="/static/frontend/css/menu/menu.css">
</head>
<body>
    <div class="F21sW0EW">
        <div class="ud0AdBs">
        </div>
        <div class="G1qVSlLk">
            <div class="aSEQzkJ jsxW">
                <div class="OePZjKkR">
                    Доступные тесты
                </div>
                <div class="xWDJRVpY">
                    <div class="Acl360RTd">
                        <div class="QprDheCS">
                                <div class="DSCwycxc">

                                    <% elements.forEach((element) => { %>
                                        <div class="item"> 
                                            <div class="iP8AakXX" test>
                                                <div class="TcP5fc test_theme" ><span>Тема:</span> <%= element.title %></div>
                                                <div class="TcP5fc"><span>Предмет:</span> <%= element.subject %></div>
                                                <div class="TcP5fc"><span>Уровень подготовки:</span> <% if (element.semester <= 22) { %><%= Math.ceil(element.semester / 2) %> класс, <%= 2 - (element.semester % 2) %> семестр<% } else { %>Высшее образвание<% } %></div>
                                                <div class="TcP5fc"><span>Дата создания:</span> <%= ("0" + element.created.getDate()).slice(-2) %>.<%= ("0" + (element.created.getMonth() + 1)).slice(-2) %>.<%= element.created.getFullYear() %> <%= ("0" + element.created.getHours()).slice(-2) %>:<%= ("0" + element.created.getMinutes()).slice(-2) %></div>
                                                <div class="TcP5fc test_author"><span>Автор:</span><span class="author"><a href="/profile/<%= element.author_id %>"><%= element.name %></a></span></div>
                                                <% if (user.type === 1) { %>
                                                        <div class="TcP5fc"><span>Статус:</span> <% if (element.completed !== null) { %>Пройден<% } else { %>Не пройден<% } %></div>
                                                        <% if (element.completed) { %>
                                                            <div class="TcP5fc"><span>Оценка:</span> <%= element.mark %></div>
                                                        <% } %>
                                                <% } %>
                                            
                                            </div>
                                            <div class="mFoSk7v">
                                            <% if ((user.type === 3 && user.verified) || element.author_id === user.id) { %>
                                                <form action="/delete_test/<%= element.id %>" method="POST">
                                                    <button type="submit" value="delete">
                                                        <iron-icon class="IsQ"><svg xmlns="http://www.w3.org/2000/svg" fill='#5f6368'width="18" height="18" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg></iron-icon>                                       
                                                    </button>
                                                </form>
                                            <% } %>
                                            </div>
                                            <div class="open_test">
                                                <% if (user.verified) { %>
                                                    <form action="/test/<%= element.id %>" method="GET">
                                                        <button type="submit" button-tamplate ripple disable-select class="pass_test dAWDJJKQA2dikdas">Пройти тест</button>
                                                    </form>
                                                <% } %>
                                            </div>
                                        </div>

                                    <% }); %>
                                </div>
                                    
                                        
                            </div>                             
                        </div>

                    </div>
                </div> 
            </div>
        </div>
    </div>

    
    <script src="/static/frontend/front/statapp.js" type="module"></script>
    <script src="/static/frontend/front/app.js" type="module"></script>
</body>
</html>




















<% if (typeof messages !== 'undefined') { %>
    <div>
        <% messages.forEach(function(message){ %>
            <b><%= message %></b><br>
        <% }); %>
    </div>
<% } %>
<% if (user.type >= 2 && user.verified) { %>
    <form action="/create_test" method="GET">
        <input type="submit" value="Создать тест"/>
    </form><br>
<% } %>
<% if (elements.length === 0) { %>
    <% if (search.set) { %>
        <b>Поиск не дал результатов.</b><br>
        <br>
        <form action="/tests" method="GET">
            <input type="submit" value="Сбросить фильтры"/>
        </form>
    <% } else { %>
        <b>Нет элементов.</b>
    <% } %>
    <hr>
<% } else { %>
    <b>Тесты:</b><br>
    <hr>
    <i>Поиск</i>
    <form action="/tests" method="GET" id="testsSearch">
        <input name="headline" placeholder="По заголовку"<% if (search.headline !== undefined) { %> value="<%= search.headline %>"<% } %>><br>
        <input name="subject" placeholder="По предмету"<% if (search.subject !== undefined) { %> value="<%= search.subject %>"<% } %>><br>
        <select name="topic">
            <option value="-1" selected>По теме...</option>
            <% topics.forEach((topic) => { %>
                <option value="<%= topic.id %>"<% if (search.topic !== undefined && search.topic === topic.id) { %> selected<% } %>><%= topic.title %></option>
            <% }); %>
        </select><br>
        <select name="semester">
            <option value="-1" selected>По уровню подготовки...</option>
            <option disabled="disabled">──────────</option>
            <% for (var i = 1; i <= 22; i++) { %>
                <option value="<%= i %>"<% if (search.semester !== undefined && search.semester === i) { %> selected<% } %>><%= Math.ceil(i / 2) %> класс, <%= 2 - (i % 2) %> семестр</option>
                <% if (i % 2 === 0) { %>
                    <option disabled="disabled">──────────</option>
                <% } %>
            <% } %>
            <option value="23">Высшее образование</option>
        </select><br>
        <select name="author">
            <option value="-1" selected>По преподавателю...</option>
            <% teachers.forEach((teacher) => { %>
                <option value="<%= teacher.id %>"<% if (search.author !== undefined && search.author === teacher.id) { %> selected<% } %>><%= teacher.name %></option>
            <% }); %>
        </select><br>
        <div>
            <input type="checkbox" id="selector1" name="completed" value="0"<% if (search.completed !== undefined && search.completed === 0) { %> checked<% } %>>
            <label for="selector1">Непройденные тесты</label>
        
            <input type="checkbox" id="selector2" name="completed" value="1"<% if (search.completed !== undefined && search.completed === 1) { %> checked<% } %>>
            <label for="selector2">Пройденные тесты</label>
        </div><br>
        <button type="submit">Найти</button><br>
    </form>
    <hr>
    <% if (search.set) { %>
        <i>На странице представлены результаты поиска.</i><br>
        <br>
        <form action="/tests" method="GET">
            <input type="submit" value="Сбросить фильтры"/>
        </form>
        <hr>
    <% } %>
    <% elements.forEach((element) => { %>
        <div>
            Заголовок: <%= element.headline %><br>
            Тема: <%= element.title %><br>
            Предмет: <%= element.subject %><br>
            Уровень подготовки: <% if (element.semester <= 22) { %><%= Math.ceil(element.semester / 2) %> класс, <%= 2 - (element.semester % 2) %> семестр<% } else { %>Высшее образвание<% } %><br>
            Автор теста: <a href="/profile/<%= element.author_id %>"><%= element.name %></a><br>
            Дата создания: <%= ("0" + element.created.getDate()).slice(-2) %>.<%= ("0" + (element.created.getMonth() + 1)).slice(-2) %>.<%= element.created.getFullYear() %> <%= ("0" + element.created.getHours()).slice(-2) %>:<%= ("0" + element.created.getMinutes()).slice(-2) %><br>
            <% if (user.type === 1) { %>
                Статус: <% if (element.completed !== null) { %>Пройден<% } else { %>Не пройден<% } %><br>
                <% if (element.completed) { %>
                    Оценка: <%= element.mark %><br>
                <% } %>
            <% } %>
            <% if (user.verified) { %>
                <form action="/test/<%= element.id %>" method="GET">
                    <input type="submit" value="Открыть"/>
                </form>
            <% } %>
            <% if ((user.type === 3 && user.verified) || element.author_id === user.id) { %>
                <form action="/delete_test/<%= element.id %>" method="POST">
                    <input type="submit" value="Удалить тест"/>
                </form>
            <% } %>
        </div>
        <hr>
    <% }); %>
<% } %>
<% if (pages_num > 0) { %>
    <i>Страница <%= page %> из <%= pages_num %></i><br>
    <% for (var i = 1; i <= pages_num; i++) { %>
        <a href="tests?page=<%= i %>"><% if (i === page) { %><b><%= i %></b><% } else { %><%= i %><% } %></a>   
    <% } %>
<% } %>
<br><br>
<form action="/" method="GET">
    <input type="submit" value="На Главную"/>
</form>

<script src="static/js/testsList.js"></script>