!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Testing | <%= info.headline %></title>
    <link rel="stylesheet" href="/static/frontend/css/main_styles.css">
    <link rel="stylesheet" href="/static/frontend/css/font/font.css">
    <link rel="stylesheet" href="/static/frontend/css/statistic.css">
    <link rel="stylesheet" href="/static/frontend/css/rippleEffect.css">
    <link rel="stylesheet" href="/static/frontend/css/menu/menu.css">
    <link rel="stylesheet" href="/static/frontend/css/select-module.css">
</head>
<body>
    <div class="F21sW0EW">
        <div class="ud0AdBs">
            <%- include('partials/head', {page: "Тесты"}) -%>
        </div>
        <div class="G1qVSlLk">
            <div class="aSEQzkJ jsxW" view-test>
                <div class="OePZjKkR">
                    Тест: <%= info.headline %> 
                </div> 
                <div class="xWDJRVpY">
                    <div class="Acl360RTd">
                        <div class="QprDheCS">
                            <div class="NfbybDsa">
                            
                                    <%- include('partials/back', {page:'tests'}) -%>

                                    <div class="cqigUjz">
                                        <div class="theme_view daw">
                                            <span>Тема:</span>
                                            <div class="view_data">
                                                <%= info.topic.title %>
                                            </div>
                                        </div>
                                        <div class="subject_view daw">
                                            <span>Предмет:</span>
                                            <div class="view_data">
                                                <%= info.topic.subject %>
                                            </div>
                                        </div>
                                        <% if (info.completed) { %>
                                            <div class="points_view daw">
                                                <span>Набрано баллов:</span>
                                                <div class="view_data">
                                                    <%= info.points.gained %> из <%= info.points.max %>
                                                </div>
                                            </div>
                                            <div class="mark_view daw">
                                                <span>Оценка:</span>
                                                <div class="view_data">
                                                    <%= info.mark %>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="task_container">

                                        <% questions.forEach((question, index) => { %>
                                            <div class="task" id="question<%= index + 1 %>">
                                                <div class="task_label">
                                                    Вопрос №<%= index + 1 %>
                                                </div>

                                                <div class="mathEnabled" style="margin-top: 10px; word-wrap: break-word; white-space: pre-wrap"><%= question.body %></div>

                                                <div class="answer_container">
                                                    <% if (!info.completed && user.verified && user.type === 1) { %>
                                                        <div class="result_side">
                                                            <span>Ваш ответ:</span>
                                                            <div class="result_input">
                                                                <input type="text" name="inputResult">
                                                            </div>
                                                        </div>
                                                    <% } else { %>
                                                        <% if (user.type !== 0) { %>
                                                            <div class="true_result result">
                                                                <span>Правильный ответ:</span>
                                                                <div class="backend-d">
                                                                    <%= question.correct_answer %>
                                                                </div>
                                                            </div>
                                                        <% } %>
                                                        <% if (question.filled) { %>
                                                            <div class="u_result result" <% if (question.correct) { %> answer="true" <%} else {%> answer="false" <%}%>> 
                                                                <span>Ваш ответ:</span>
                                                                <div class="backend-d">
                                                                   <%= question.answer %> 
                                                                </div>
                                                            </div>
                                                        <% } %>
                                                    <% } %>                                                    
                                                </div>

                                            </div>
                                        <% }); %>    
                                
                                    </div>

                                    <% if (!info.completed && user.verified && user.type === 1) { %>
                                        <div class="sendTestResult">
                                            <button class="dAWDJJKQA2dikdas" button-tamplate ripple disable-select>Завершить тест</button>
                                        </div>
                                    <% } %>
                            </div>

                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <script src="/static/frontend/front/sendTest.js" type="module"></script>
    <%- include('partials/widnow') -%>
    <%- include('partials/tex'); %>
    <%- include('partials/menu', {pageId: 'tests'}) -%>
</body>
</html>
   