<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/frontend/css/main_styles.css">
    <link rel="stylesheet" href="/static/frontend/css/font/font.css">
    <link rel="stylesheet" href="/static/frontend/css/rippleEffect.css">
    <link rel="stylesheet" href="/static/frontend/css/menu/menu.css">
    <link rel="stylesheet" href="/static/frontend/css/user.css">
    <link rel="stylesheet" href="/static/frontend/css/login.css">

</head>

<body>
<b>Проект: </b><i>Достатки</i> и <i>Недостоинства</i>.<br>
<% if (!success) { %>
    <br>
    <b>Ошибка: </b><i><%= error %></i>
    
<% } else{  %>
    <div class="F21sW0EW" >
        <div class="ud0AdBs"> 
                <div class="phw1tr2Ml dAWDJJKQA2dikdas">
                <div class="slyxFdN IsQ" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="#fff" preserveAspectRatio="xMidYMid meet"><rect x="0" y="4" width="20" height="2"></rect><rect x="0" y="9" width="20" height="2"></rect><rect x="0" y="14" width="20" height="2"></rect></svg>
                    </div>
                </div>
                    <div class="q0VKAhg">
                           &nbsp;&nbsp; Журнал
                        </div>
                    
            </div>
        <div class="G1qVSlLk">
            <div class="aSEQzkJ jsxW" statistic-page>
                <div class="OePZjKkR">Статистика</div>
                <div class="exqyWGy2Ko">
                    <div class="iiHdNvsXDu">
                        <div class="afobqbROic">
                            <div class="jBlnmKNrTJ">
                                Тест: <%= test.headline %>
                            </div>
                        </div>
                        <div class="XmpFH7yAUc">
                            <div class="LX3VCwMZyx">
                                <div class="RP24t9pFeA">
                            </div>
                        </div>  
                        </div>
                        </div>
                    <div class="JUGIKe6xDr">
                        <canvas id="myChart" ></canvas>    
                    </div> 
                    <br>  
                    <h1>Оценки за тест <style></style></h1>
                    <br>  
                    <% if(students.length==0){%>
                    <div>Нет учеников,прошедших данный тест</div>
                    <br>
                    <%}else{%>
                    <% students.forEach((student) => { %> 
                    <div>
                        Оценка: <%= student.mark %> &nbsp; Тест проходил: <%= student.name %><br>
                        <hr>
                    </div>
                    <% }); %>
                    <% } %>

                </div>
            </div>
        </div>
    </div>
    <script src="/static/frontend/front/user.js" type="module"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="/static/js/chart.js"></script>
    <script type="text/javascript">
        processStatistics(JSON.parse('<%- JSON.stringify(students) %>'), JSON.parse('<%- JSON.stringify(marks) %>'));
    </script>
<%}%>
</body>
</html>