<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Testing | Статистика</title>
    <link rel="stylesheet" href="/static/frontend/css/main_styles.css">
    <link rel="stylesheet" href="/static/frontend/css/font/font.css">
    <link rel="stylesheet" href="/static/frontend/css/rippleEffect.css">
    <link rel="stylesheet" href="/static/frontend/css/menu/menu.css">
    <link rel="stylesheet" href="/static/frontend/css/test_statistic.css">
</head>

<body>
    <% if (!success) { %> 
        <%- include('../partials/menu', {pageId: "tests"}) -%>
        <div class="F21sW0EW" >
                <div class="ud0AdBs"> 
                    <%- include('../partials/head', {page: 'Тесты'}) -%>
                </div>
        </div>
        <div  class="error-page">
                <div class="login__wrapper">
                        <div class="G1qVSldaLk"> 
                           <icon-error>
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill='#00000070'><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>
                            </icon-error>
                            <div class="error-ttle_page">
                                Ошибка:<%= error %>
                            </div>
                        </div>
                </div>
        </div> 
        <% } else { %>
            <% var sum =0; %>
            <% students.forEach((student) => { %>
                <% sum+=parseInt(student.mark); %>
            <% }); %>
            <% if(sum == 0){ %>
                <div class="F21sW0EW" >
                        <div class="ud0AdBs"> 
                            <%- include('../partials/head', {page: 'Тесты'}) -%>
                        </div>
                        <div class="G1qVSlLk">
                            <div class="aSEQzkJ jsxW" statistic-page-empty>
                                <div class="OePZjKkR">Статистика</div>
                                <div class="exqyWGy2Ko">
                                    <%- include('../partials/back', {page: 'tests'}) -%>
                                    <div class="error-page">
                                                    <div class="G1qVSldaLk"> 
                                                    <icon-error>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill='#00000070'><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/></svg>
                                                        </icon-error>
                                                        <div class="error-ttle_page">
                                                            Никто не прошёл тест
                                                        </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
           <% } else { %>
                <div class="F21sW0EW" >
                    <div class="ud0AdBs"> 
                        <%- include('../partials/head', {page: 'Тесты'}) -%>
                    </div>
                    <div class="G1qVSlLk">
                        <div class="aSEQzkJ jsxW" statistic-page>
                            <div class="OePZjKkR">Статистика</div>
                            <div class="exqyWGy2Ko">
                                <%- include('../partials/back', {page: 'tests'}) -%>
                                <div class="iiHdNvsXDu">
                                    <div class="afobqbROic">
                                        <div class="jBlnmKNrTJ">
                                            <span class="state_ttle">Тест: </span>
                                            <span class="data_ttle"><%= test.headline %></span>
                                        </div>
                                        <div class="jBlnmKNrTJ">
                                            <span class="state_ttle">Тема: </span>
                                            <span class="data_ttle"><%= test.topic %></span>
                                        </div>
                                        <div class="jBlnmKNrTJ">
                                            <span class="state_ttle">Максимальное кол-во баллов: </span>
                                            <span class="data_ttle"><%= test.points_max %></span>
                                        </div>
                                    </div>
                                <div class="JUGIKe6xDr">
                                    <div class="marks_container">
                                        <% var count = 0, sum=0, result=0; %>
                                        <% students.forEach((student) => { %>
                                            <% sum += parseInt(student.mark); %>
                                            <% count++; %>
                                        <% }); %>
                                        <% result=sum/count; %>
                                        <% result=result.toFixed(2); %>
                                            
                                            <div class="marks_ttle">
                                                Результаты теста
                                            </div>
                                            <div class="marks_result">
                                                <% if(students.length==0){%>
                                                    <div>Нет учеников,прошедших данный тест</div>
                                                <%}else{%>
                                                    <% students.forEach((student) => { %> 
                                                        <div class="user_result">
                                                            <div class="user_name">
                                                                <span class="student"><a href="/profile/<%= student.id %>?source=statistics/test/<%= test.id %>"><%= student.name %></a></span>
                                                            </div>       
                                                            <div class="user_result_data">
                                                                <div>
                                                                    <span class="data_res">Oценка: </span>
                                                                    <span class="data-RESULT"><%= student.mark %></span>
                                                                </div>
                                                                <div>
                                                                    <span class="data_res">Баллы: </span>
                                                                    <span class="data-RESULT"><%= student.points %> из <%= test.points_max %></span>
                                                                </div>
                                                            </div>                                 
                                                        </div>
                                                <% }); %>   
                                            </div>
                                            
                                        <% } %>
                                    </div>
                                    <div class="dia_container">
                                        <canvas id="myChart" ></canvas>  
                                        <div class='average_score'>
                                            <span class="ttle_scrore">Средний балл за тест: </span>
                                            <span class="scrore"><%= result %></span>
                                        </div>
                                    </div>
                                    </div> 
                                </div> 
            
                            </div>
                        </div>
                    </div>
                </div>

            <script src="/static/frontend/front/user.js" type="module"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
            <script src="/static/js/chart.js"></script>
            <script type="text/javascript">
                processStatistics(JSON.parse('<%- JSON.stringify(students) %>'), JSON.parse('<%- JSON.stringify(marks) %>'));
            </script>
            
        <% } %>
    <% } %>
    
    <%- include('../partials/menu', {pageId: "tests"}) -%>
</body>
</html>

